:root {
  --color_bg_grey: #F4F5F8;
  --color_bg_white: #FFFFFF;
  --color_primary_100: #FF5B00;
  --color_grey_100: #000000;
  --color_grey_200: #685E59;
  --color_grey_300: #999695;
  --color_button_grey: #8B8B95;
  --color_scroll_thumb: #DFE0E4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'inter', 'roboto';
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}


